<!DOCTYPE html>
<html>
<head>
  <title>Come Together</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- import custom CSS modules -->
  <link href="/css/comeTogether.css" rel="stylesheet">
  <link href="/css/textFonts.css" rel="stylesheet">
  <link href="/css/profile.css" rel="stylesheet">
</head>

<body>
  <!-- load header -->
  <div id="header"></div>

  <!-- User's profile picture/name -->  
  <div class= "user">
    <img src="/images/cat_profile_picture.jpg" class = "center-block">
    <h1 class="username">Joe Smith</h1>    
  </div>

  <!-- Toggles between user's about/projects -->
  <div class="container">
    <!-- Allow you to toggle between different content on the home screen -->
    <ul class="tab">
        <li><a class="tablinks" id="Tab_UserAbout">About</a></li>
        <li><a class="tablinks" id="Tab_UserProjects">Projects</a></li>
    </ul>
  </div>

  <!-- user's about me page -->
  <div id="UserAbout" class="tabcontent">
    <h4>Biography</h4>
    <p>Cat lover, expert in gardening, and all around community service enthusiast.</p>
    <h4>Location</h4>
    <p>La Jolla, CA.</p>
    <h4>Websites</h4>
    <a href="https://www.facebook.com"><p>facebook.com/joesmith</p></a>
  </div>

  <!-- ***user's current/past projects *** -->

  <!-- Need some variable in data.json that show/hide projects that the user has joined. Currently shows all highlights and past projects of the data file.-->
  <div id="UserProjects" class="tabcontent">

  <h4>Current Projects</h4>
  {{#each trendingProjects}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-7" align="right">
        <img src="{{imageURL}}" class="img-responsive img-rounded">       
      </div>
      <div class="col-xs-5">
        <h4><a href="/project/trending/{{id}}" class="projectName">{{name}}</a></h4>
        <p class="projectShortDesc">{{shortDescription}}</p>
      </div>
    </div>
    <p style="margin-bottom:40px;"/></p>
  </div>
  {{/each}}


  <h4>Past Projects</h4>
  {{#each highlightProjects}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-7" align="right">
          <img src="{{imageURL}}" class="img-responsive img-rounded">       
        </div>
        <div class="col-xs-5">
          <h4><a href="/project/highlights/{{id}}" class="projectName">{{name}}</a></h4>
          <p class="projectShortDesc">{{shortDescription}}</p>
        </div>
      </div>
      <p style="margin-bottom:40px;"/></p>
    </div>
  {{/each}}


  </div>  



  <!-- load footer -->
  <div id="footer"></div>

  <!-- load JS scripts -->
  <script src="/js/jquery-3.1.1.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/comeTogether.js"></script>
  <script> document.getElementById("Tab_UserAbout").click();</script>
  <!-- load header and footer using scripts-->
  <script> $(function() {$("#header").load("/header.html")} ); </script>
  <script> $(function() {$("#footer").load("/footer.html")} ); </script>
</body>
</html>